:root {
    --tial-color-1: rgb(240, 117, 35);
    --tial-color-2:rgb(77, 81, 85);

    --tial-color-background: rgb(187, 188, 189);

    --tial-image-frame-border-width: 2px;
    --tial-image-frame-border-radius: 5px;
    --tial-image-frame-box-shadow: inset 0px 0px 9px 8px black;
    --tial-image-frame-text-color: var(--tial-color-2);

    --tial-text-marker-border-width: 2px;
    --tial-text-marker-border-radius: 5px;
    --tial-text-marker-text-color: black;
  }

  .tial-error-message {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
  }