.tial-anchor_text_container {
  position: relative;
  text-align: initial;
  box-sizing: border-box;
  white-space: pre-wrap;
  /* 
    Prevents imposed font resizing in highlight layer on mobile browsers. See notes below.
   */
  max-height: 100%; 
}

.tial-text_highlight_layer {
  position: absolute;
  top: 0;
  max-width: 100%;
  color: transparent;
  background-color: transparent;
  pointer-events: none;
}

.tial-text_highlight_layer mark {
  color: transparent;
  outline: 1px solid var(--tial-color-1);
  outline-width: var(--tial-text-marker-border-width);
  border-radius: var(--tial-text-marker-border-radius);
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: background-color 250ms linear;
  pointer-events: all;
}

.tial-anchoring_mode_button {
  position: absolute;
  display: none;
  width: fit-content;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--tial-color-2);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--tial-color-background);
  transition: border-color 250ms linear, background-color 250ms linear;
  cursor: pointer;
  z-index: 1;
}

.tial-anchoring_mode_button:hover {
  background-color: var(--tial-color-1);
  transition: background-color 250ms linear;
}


/* 
   Notes 

 1 - Android Chrome only applies font boosting to elements with dynamic height. 
     As soon as you specify a height or max-height, font boosting is not applied.
     Setting max-height is simple and should have no side effects.
     https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font

   */